$neutral: #fff;
$redColor---1: #4d0511;
$redColor---2: #c72c39;
$redColor---3: #ff8789;
$blueColor---1: #103e8f;
$blueColor---2: #16b9f5;
$blueColor---3: #c2e7ff;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
	padding: 0;
	margin: 0;
}

.navbarContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $redColor---2;
	color: $neutral;

	&__ul {
		padding: 0.6em 0;
		margin: 0 22em;
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		list-style-type: none;

		&--li {
			font-family: 'Roboto', sans-serif;
			font-size: 1.8rem;
			font-weight: 600;
		}

		&--anchor {
			text-decoration: none;
			color: $neutral;
			transition: all 0.25s ease;

			&:hover {
				color: $redColor---3;
			}
		}
	}
}

.footerContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $redColor---2;
	color: $neutral;

	&__ul {
		padding: 0.6em 0;
		margin: 0 5em;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		list-style-type: none;

		&--li {
			padding: 0 0.5em;
			display: flex;
			justify-content: space-around;
			cursor: pointer;

			#footerIcons {
				fill: #fff;
				height: '10em';
				width: '10em';
			}
		}
	}

	&__para {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		font-weight: 500;
	}
}

.contentContainer {
	height: 90vh;
	padding: 2em 3.5em;
	display: grid;
	grid-template-areas:
		'first second'
		'button button';

	&__first {
		grid-area: first;
		margin-right: 1em;

		&--image {
			height: 30em;
			width: 30em;
		}
	}

	&__second {
		grid-area: second;
		margin-left: 1em;
		font-family: 'Roboto', sans-serif;
	}

	&__third {
		grid-area: button;
		margin: 0 auto;

		&--button {
			padding: 0.8em 3.5em;
			border-radius: 1em;
			border: none;
			background-color: $redColor---1;
			color: $neutral;
			font-size: 1rem;
			font-weight: 700;
		}
	}
}
