@import './colors';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// ----------- RESUABLE COMPONENTS -----------
.navbarContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $redColor---2;
	color: $neutral;

	&__menuBars {
		display: none;
	}

	&__ul {
		padding: 0.6em 0;
		margin: 0 22em;
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		list-style-type: none;

		&--li {
			font-family: 'Roboto', sans-serif;
			font-size: 1.8rem;
			font-weight: 600;
		}

		&--anchor {
			text-decoration: none;
			color: $neutral;
			transition: all 0.25s ease;

			&:hover {
				color: $redColor---3;
			}
		}
	}

	@include laptop-small {
		&__ul {
			margin: 0 11em;
		}
	}

	@include tablet {
		&__menuBars {
			padding: 0.5em 1em;
			display: flex;
			justify-content: flex-end;
			fill: $neutral;
			cursor: pointer;
		}

		&__ul {
			// display: none;
			width: 100%;
			margin: 0;
			padding: 2em 1em 1em 0;
			align-items: flex-end;
			flex-direction: column;
			background-color: $redColor---2;
			z-index: 100;

			&--anchor {
				color: #000;
			}
		}
	}
}

.footerContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $redColor---2;
	color: $neutral;

	&__ul {
		padding: 0.6em 0;
		margin: 0 5em;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		list-style-type: none;

		&--li {
			padding: 0 0.5em;
			display: flex;
			justify-content: space-around;
			cursor: pointer;

			#footerIcons {
				fill: #fff;
				height: '10em';
				width: '10em';
			}
		}
	}

	&__para {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		font-weight: 500;
	}
}

// ----------- HOME COMPONENTS -----------

.contentContainer {
	height: 100%;
	padding: 2em 3.5em;
	margin: 3em 2em 0;
	display: grid;
	grid-template-areas:
		'first second'
		'button button';

	&__first {
		grid-area: first;
		// margin-right: 1em;

		&--image {
			height: 30em;
			width: 30em;
			object-fit: contain;
		}
	}

	&__second {
		grid-area: second;
		padding: 2em;
		font-family: 'Roboto', sans-serif;

		p {
			margin-top: 1em;
			margin-right: 3em;
			line-height: 1.5;
		}
	}

	&__third {
		grid-area: button;
		margin: 1em auto;

		&--button {
			padding: 0.8em 3.5em;
			border-radius: 1em;
			border: none;
			background-color: $redColor---1;
			color: $neutral;
			font-size: 1rem;
			font-weight: 700;
			cursor: pointer;
			transition: all 0.25s ease;

			&:hover {
				background-color: $redColor---2;
			}
		}
	}

	@include laptop-small {
		height: 100%;
		padding: 0;
		margin: 2em;

		&__first {
			margin: 0;
		}

		&__second {
			margin: 0;
			padding: 0;

			p {
				margin: 0;
				padding: 0;
			}
		}
	}

	@include tablet {
		height: 100%;
		padding: 5em;
		margin: 1em;
		grid-template-areas:
			'first'
			'second'
			'button';

		&__first,
		&__second {
			margin: 0;
		}

		&__first {
			&--image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				z-index: 1;
			}
		}

		&__second {
			margin-top: 1em;
			font-size: 0.9rem;

			p {
				margin-top: 1em;
				padding: 0;
			}
		}

		&__third {
			margin-top: 1em;
		}
	}
}

// ----------- MENU COMPONENTS -----------

.menuContainer {
	height: 100%;
	padding: 4em 5em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;

	&__item {
		display: flex;
		height: 20em;
		width: 100%;
		background-color: $blueColor---2;
		color: #000;

		&--img {
			height: 100%;
			width: 50%;
			background-color: #000;
			object-fit: contain;
		}

		&--content {
			width: 50%;
			padding: 1em 1.5em;

			p {
				line-height: 1.5;
			}
		}
	}
}
