@import './colors';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// ----------- RESUABLE COMPONENTS -----------
.navbarContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $redColor---2;
	color: $neutral;

	&__menuBars {
		display: none;
	}

	&__ul {
		padding: 0.6em 0;
		margin: 0 22em;
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		list-style-type: none;
		position: relative;
		z-index: 5;

		&--li {
			font-family: 'Roboto', sans-serif;
			font-size: 1.8rem;
			font-weight: 600;
		}

		&--anchor {
			text-decoration: none;
			color: $neutral;
			transition: all 0.25s ease;

			&:hover {
				color: $redColor---3;
			}
		}
	}

	@include laptop-small {
		&__ul {
			margin: 0 11em;
		}
	}

	@include tablet {
		&__menuBars {
			padding: 0.5em 1em;
			display: flex;
			justify-content: flex-end;
			fill: $neutral;
			cursor: pointer;
		}

		&__ul {
			width: 100%;
			margin: 0;
			padding: 2em 1em 1em 0;
			align-items: flex-end;
			flex-direction: column;
			background-color: $redColor---2;

			&--anchor {
				color: $neutral;
			}
		}

		.hide {
			display: none;
		}
	}

	@include mobile-large {
		&__ul {
			&--li {
				font-size: 1rem;
			}
		}
	}

	@include mobile-allSize {
		&__menuBars {
			padding: 0.5em 1em;
			display: flex;
			justify-content: flex-end;
			fill: $neutral;
			cursor: pointer;
		}

		&__ul {
			width: 100%;
			margin: 0;
			padding: 2em 1em 1em 0;
			align-items: flex-end;
			flex-direction: column;
			background-color: $redColor---2;

			&--anchor {
				margin: 0.5em 0;
				font-size: 1.5rem;
				color: $neutral;
			}
		}

		.hide {
			display: none;
		}
	}
}

.footerContainer {
	height: 3.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $redColor---2;
	color: $neutral;

	&__ul {
		padding: 0.6em 0;
		margin: 0 5em;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		list-style-type: none;

		&--li {
			padding: 0 0.5em;
			display: flex;
			justify-content: space-around;
			cursor: pointer;

			#footerIcons {
				fill: #fff;
				height: '10em';
				width: '10em';
			}
		}
	}

	&__para {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		font-weight: 500;
	}

	@include mobile-large {
		&__ul {
			padding: 0;
		}

		& > * {
			margin-bottom: 1em;
		}

		&__para {
			font-size: 1.2rem;
		}
	}

	@include mobile-allSize {
		height: 100%;
		width: 100%;
		padding: 1em 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// ----------- HOME COMPONENTS -----------

.contentContainer {
	height: 100%;
	padding: 2em 3.5em;
	margin: 3em 2em 0;
	display: grid;
	grid-template-areas:
		'first second'
		'button button';

	&__first {
		grid-area: first;

		&--image {
			height: 30em;
			width: 30em;
			object-fit: cover;
			position: relative;
			z-index: 1;
		}
	}

	&__second {
		grid-area: second;
		padding: 2em;
		font-family: 'Roboto', sans-serif;

		p {
			margin-top: 1em;
			margin-right: 3em;
			line-height: 1.5;
		}
	}

	&__third {
		grid-area: button;
		margin: 1em auto;

		&--button {
			padding: 0.8em 3.5em;
			border-radius: 1em;
			border: none;
			background-color: $redColor---1;
			color: $neutral;
			font-size: 1rem;
			font-weight: 700;
			cursor: pointer;
			transition: all 0.25s ease;

			&:hover {
				background-color: $redColor---2;
			}
		}
	}

	@include laptop-small {
		height: 100%;
		padding: 0;
		margin: 2em;

		&__first {
			margin: 0;
		}

		&__second {
			margin: 0;
			padding: 0;

			p {
				margin: 0;
				padding: 0;
			}
		}
	}

	@include tablet {
		height: 100%;
		padding: 5em;
		margin: 1em;
		grid-template-areas:
			'first'
			'second'
			'button';

		&__first,
		&__second {
			margin: 0;
		}

		&__first {
			&--image {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__second {
			margin-top: 1em;
			font-size: 0.9rem;

			p {
				margin-top: 1em;
				padding: 0;
			}
		}

		&__third {
			margin-top: 1em;
		}
	}

	@include mobile-large {
		&:not(:last-child) {
			margin: 0;
			padding: 0;
		}

		&__first {
			&--image {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__second {
			p {
				margin: 0;
				padding: 0;
			}
		}
	}

	@include mobile-allSize {
		height: 100%;
		margin: 0;
		padding: 0;
		grid-template-areas:
			'first'
			'second'
			'button';

		&__first,
		&__second {
			margin: 0;
		}

		&__first {
			&--image {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&__second {
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}

// ----------- MENU COMPONENTS -----------

.menuContainer {
	height: 100%;
	padding: 4em 5em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;

	&__item {
		display: flex;
		height: 20em;
		width: 100%;
		color: #000;

		&--img {
			height: 20em;
			width: 20em;
			background-color: #000;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&--content {
			width: 50%;
			padding: 2em 1em;

			h3 {
				font-size: 1.5rem;
				margin-bottom: 0.5em;
			}

			p {
				font-size: 1.25rem;
			}
		}
	}

	@include laptop-small {
		padding: 1em;
	}

	@include tablet {
		padding: 2em 1em;
		grid-template-columns: 1fr;

		&__item {
			&--content {
				h3 {
					margin-bottom: 1em;
				}

				p {
					line-height: 1.5;
				}
			}
		}
	}

	@include mobile-allSize {
		padding: 1em 0.5em;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr;

		&__item {
			height: 30em;
			flex-direction: column;

			&--img {
				height: 20em;
				width: 100%;
			}

			&--content {
				width: 100%;
				padding: 1em;
			}
		}
	}
}

// ----------- CONTACT COMPONENTS -----------

.contactContainer {
	height: 100vh;
	width: 100%;
	padding: 2em 1em;
	display: flex;
	justify-content: center;
	align-items: center;

	&__mapSection {
		height: 35em;
		width: 35em;
		background-color: #000;

		&--image {
			height: 100%;
			width: 100%;
			object-fit: cover;

			@include mobile-allSize {
				height: 100%;
				width: 100%;
			}
		}

		@include tablet {
			height: 100%;
			width: 100%;
		}

		@include mobile-allSize {
			height: 100%;
			width: 100%;
		}
	}

	&__contactSection {
		height: 35em;
		width: 35em;

		&--list {
			height: 100%;
			padding: 4em 1em;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			font-size: 1.9rem;
			list-style: none;

			&__item {
				color: $fontColor---1;
				align-items: flex-start;
			}

			@include laptop-small {
				padding: 1em;
			}

			@include tablet {
				padding: 1em;
				font-size: 1.5rem;
			}

			@include mobile-allSize {
				padding: 0;
				font-size: 1.2rem;
			}
		}

		@include mobile-allSize {
			width: 100%;
		}
	}

	@include tablet {
		padding: 1em;
	}

	@include mobile-allSize {
		flex-direction: column;
		padding: 1em;
	}
}
